main {
  background-color: var(--gray);
}

.services__section {
  background-color: var(--gray);
  padding-bottom: 96px;
  border-radius: 0 0 70px 70px;
  position: relative;
  z-index: 1;
}

.services__title {
  padding-top: 96px;
  margin-bottom: 96px;
  font-family: "SFT Schrifted";
  color: var(--dark-blue);
  font-size: 60px;
  line-height: 71px;
}

.services__elements {
  display: flex;
  flex-direction: column;
  /* color: black; */
}

.services__element {
  height: 360px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 70px;
  /* margin-top: 80px; */
  padding-top: 80px;
  color: black;
  text-decoration: none;
}

.services__element:hover {
  /* background-color: black; */
  /* height: auto; */
}

.services__element-withoutLine {
  height: 360px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border-bottom: 1px solid #222;
  gap: 70px;
  padding-top: 80px;
}

.services__last-element {
  height: 360px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 70px;
  padding-top: 80px;
}

.services__text {
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
  /* margin-top: 80px; */
}

.services__text:hover {
  /* background-color: rgb(22, 22, 22);
  color: white; */
  /* padding-left: 20px; */
  /* border-radius: 30px;
  height: fit-content; */
  /* height: auto; */
}

.services__text-desc:hover {
  /* padding-bottom: 0;
  height: auto; */
}

.services__text-title {
  padding-bottom: 12px;
  font-family: "SFT Schrifted";
  font-size: 48px;
  line-height: 57px;
  letter-spacing: 6%;
  text-decoration: none;
}

.services__text-desc, .services__text-desc:visited {
  font-family: var(--font-main);
  font-size: 22px;
  line-height: 48px;
  text-decoration: none;
}

.services__element-link{
  text-decoration: none;
  color: black;
}

/* .services__image {
  margin-top: 80px;
} */

/* .services__element {
    position: relative;
} */

/* .services__element::before {
    content: "";
    position: absolute;
    inset: 15px;
    border: 1px solid white;
    border-radius: 20px;

    opacity: 0;
    transition: opacity 0.3s ease;

    pointer-events: none;
}

.services__element:hover::before {
    opacity: 1;
    background-color: bisque;
} */

.services__element:hover,
.services__element-withoutLine:hover,
.services__last-element:hover {
  height: 360px;

  border-top: 1px solid #222;
  border-bottom: 1px solid #222;

  display: flex;
  align-items: center;
  gap: 70px;

  padding: 20px;

  border-radius: 20px;
  border: 1px solid transparent;

  transition:
    border-color 1s ease,
    background-color 0.8s ease;
  cursor: pointer;

}

.services__element:hover,
.services__element-withoutLine:hover,
.services__last-element:hover {
  border-color: #222;
  /* background-color: rgba(35, 62, 182, 0.377); */
  background-color: rgb(19, 14, 88, 0.38);
}

